@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "HelveticaNeueCyr";
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0b0c0e;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background: -o-linear-gradient(269.96deg, #0b0c0e 13.45%, #0a0b0b 37.63%);
  background: linear-gradient(180.04deg, #0b0c0e 13.45%, #0a0b0b 37.63%);
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.wrapper_white {
  background: #ffffff;
}

.wrapper._loaded {
  opacity: 1;
  visibility: visible;
}

.wrapper._loaded .header {
  top: 0;
}

._container {
  width: 100%;
  padding: 0px 60px;
  margin: 0 auto;
}
